/* green */
/*$blinkcolor: #44bd15 */
/*$consolecolor: #44bd15 */
/*$rgb_shadow: 0px 0px 5px 2px rgba(68,189,21,0.2) */
/*$rgb_blurcolor: rgb(68,189,21) */
/*$rgb_blurcolor_shadow: #4cff07 */
/* gray */
html {
  height: 100%;
  font-size: 0.8em; }

body {
  color: #000;
  cursor: default;
  background-color: #ccc;
  height: 100%;
  font-family: "Source Code Pro", monospace;
  line-height: 1.2em; }

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  width: auto; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid #ddd; }

a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff; }

::selection {
  background: #000; }

::-moz-selection {
  background: #000; }

.console_wrapper {
  position: relative;
  background-color: #393a3c;
  max-width: 840px;
  min-height: 500px;
  margin: 100px auto;
  border-radius: 10px;
  border: 20px solid #ddd;
  color: #ddd;
  font-weight: 300;
  padding: 15px; }

#console_stripes {
  margin: -15px;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg, #ffffff, transparent 1px, transparent 2px, #5a5a5a 4px); }

.wobble_anim {
  animation-name: wobble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.lines_container {
  background-color: transparent;
  max-height: 480px;
  overflow: hidden;
  display: flex;
  align-items: flex-end; }

.command_line {
  display: inline-block; }

.command_tick {
  display: inline-block;
  margin-left: 0px;
  width: 10px;
  height: 14px;
  vertical-align: sub;
  background-color: #ddd;
  animation-duration: 0.5s;
  animation-name: tickit;
  animation-iteration-count: infinite; }

.blurry-text {
  color: #ddd;
  text-shadow: 0 0 4px #fff; }

.blurry-bg {
  -webkit-box-shadow: 0px 0px 5px 2px #ddd;
  -moz-box-shadow: 0px 0px 5px 2px #ddd;
  box-shadow: 0px 0px 5px 2px #ddd; }

#mongo-container {
  display: none;
  position: relative;
  width: 32px;
  animation-timing-function: linear;
  animation-name: leftoright;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

#mongo-center {
  position: absolute;
  margin: 0 auto;
  top: 2px;
  left: 10px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: #fff; }

.leg {
  transform-origin: 0% 0%;
  top: 9px;
  width: 1px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.lleft {
  transform: rotate(0deg);
  left: 12px;
  animation-name: moveleft; }

.lright {
  transform: rotate(0deg);
  left: 19px;
  animation-name: moveright; }

.foot {
  position: absolute;
  height: 2px;
  width: 6px;
  bottom: 0px;
  left: -5px;
  background-color: #fff; }

@keyframes tickit {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes moveleft {
  0% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(-20deg); } }
@keyframes moveright {
  0% {
    transform: rotate(-50deg); }
  100% {
    transform: rotate(-10deg); } }
@keyframes leftoright {
  0% {
    left: 0%; }
  100% {
    left: 30%; } }
@keyframes wobble {
  0% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(1deg); } }

/*# sourceMappingURL=styles.css.map */
