$fcolor: #000
$bcolor: #fff
$blinkcolor: #a94442
$fontsize: 0.8em

html
  height: 100%
  font-size: $fontsize

body
  color: $fcolor
  cursor: default
  background-color: $bcolor
  height: 100%
  font-family: 'Source Code Pro', monospace
  line-height: 1.5em

img
  display: block
  max-width: 100%
  max-height: 100%
  margin: 0 auto
  width: auto

a
  color: $blinkcolor
  text-decoration: none
  border-bottom: 1px solid $blinkcolor

a:hover
  color: #fff
  text-decoration: none
  border-bottom: 2px solid #fff

::selection
  background: $fcolor /* WebKit/Blink Browsers */

::-moz-selection
  background: $fcolor /* Gecko Browsers */

.console_wrapper
  position: relative
  background-color: #000
  max-width: 940px
  min-height: 600px
  margin: 100px auto
  border-radius: 10px
  border: 20px solid #ddd
  color: #ddd
  font-weight: 300
  padding: 15px  

.lines_container
  background-color: transparent
  
.command_line
  display: inline-block

.command_tick
  display: inline-block
  margin-left: -8px
  width: 10px
  height: 14px
  vertical-align: sub
  background-color: $blinkcolor
  animation-duration: 0.5s
  animation-name: tickit
  animation-iteration-count: infinite

.blurry-text
  color: rgba(255, 255, 255, 0)
  text-shadow: 0 0 1px rgb(255, 255, 255)

@keyframes tickit
  0%
    opacity: 0

  100%
    opacity: 1






@media (max-width: 768px)

@media (max-width: 580px)
